<% if logged_in? %>
	<%= link_to 'profile', current_user %>
	<%= link_to 'logout', logout_path, method: "delete" %>
	<%= link_to 'write post', new_article_path %>
<% else %>
	<%= link_to 'Login', login_path %>

<% end %>

<div >
    <% if @user.articles.any? %>
      <h3>Article (<%= @user.articles.count %>)</h3>
      <ol class="microposts">
        <%= render @articles %>
      </ol>
     
    <% end %>
  </div>

