<% if logged_in? %>
	<%= link_to 'profile', current_user %>
	<%= link_to 'logout', logout_path, method: "delete" %>

<% else %>
	<%= link_to 'Login', login_path %>

<% end %>



<div >
    <% if @user.articles.any? %>
      <h3>Article (<%= @user.articles.count %>)</h3>
      <ol class="microposts">
        <%= render @articles %>
      </ol>
     
    <% end %>
  <%= link_to 'create new article', new_article_path %>
</div>

